
body{
    background: #ccc;
}

#caja{
    width: 420px;
    margin: 0 auto;
}

ul{
    background:purple;
    width: 420px;
    padding: 20px;
}

li{
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: antiquewhite;
}