<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <div *ngFor="let datos of url"> 
      <br>
      <hr>
          <img src="{{datos.avatar}}" width="200px">
          <h1>{{datos.first_name}}-{{datos.last_name}}</h1>
          <h1>Descripcion de su trabajo</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora laborum voluptatibus porro, rerum deserunt nemo eveniet 
            dolores officia aliquam dolore quasi quas amet nisi. Ducimus labore maxime numquam eveniet at.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ullam quasi sequi alias similique dolorem maxime fugit ut 
            voluptates amet corporis cupiditate deleniti tempora provident, ex cum sit quaerat? Omnis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus natus nulla veniam quo, sapiente explicabo molestias
             earum delectus magni aliquid quidem, cupiditate vero iure repudiandae excepturi est ad ullam!
          </p>   
    </div>
  
</body>
</html>
