<h1>Descripciones de Carreras</h1>

<img src="../../assets/img/sistemas1.jpg" alt="" srcset="">
<h1>{{descripcion}}</h1>
<h1>{{universidades}}</h1>
<h2>Duracion:{{duracion}}</h2>
<h2>Descripcion de la carrera</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt quaerat corrupti saepe sed ex architecto debitis porro
   at aliquam neque. Aut explicabo assumenda eum aperiam eius expedita ducimus veritatis nesciunt.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nemo error, vel sint est similique aut suscipit, saepe 
   at amet quod alias exercitationem qui repellendus. Eum dolorum sed iste nemo?
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem explicabo porro ea dolorem non architecto, omnis molestias
   officiis vel voluptates illum nobis. Unde odit vitae, neque saepe laboriosam similique! Maxime!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit praesentium rerum quis et vel ipsum error dicta numquam veritatis
  eos. Nobis aperiam quia cupiditate unde, dolor expedita ipsam voluptatum nulla?
  </p>
<!-- espacio -->

<hr>

<img src="../../assets/img/electronica.jpg" alt="" srcset="">
<h1>{{descripcion2}}</h1>
<h1>{{universidades2}}</h1>
<h2>Duracion:{{duracion}}</h2>
<h2>Descripcion de la carrera</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt quaerat corrupti saepe sed ex architecto debitis porro
   at aliquam neque. Aut explicabo assumenda eum aperiam eius expedita ducimus veritatis nesciunt.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nemo error, vel sint est similique aut suscipit, saepe 
   at amet quod alias exercitationem qui repellendus. Eum dolorum sed iste nemo?
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem explicabo porro ea dolorem non architecto, omnis molestias
   officiis vel voluptates illum nobis. Unde odit vitae, neque saepe laboriosam similique! Maxime!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit praesentium rerum quis et vel ipsum error dicta numquam veritatis
  eos. Nobis aperiam quia cupiditate unde, dolor expedita ipsam voluptatum nulla?
  </p>

  <hr>

<img src="../../assets/img/mecatronica.jpg" width="400px">
<h1>{{descripcion3}}</h1>
<h1>{{universidades3}}</h1>
<h2>Duracion:{{duracion}}</h2>
<h2>Descripcion de la carrera</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt quaerat corrupti saepe sed ex architecto debitis porro
   at aliquam neque. Aut explicabo assumenda eum aperiam eius expedita ducimus veritatis nesciunt.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nemo error, vel sint est similique aut suscipit, saepe 
   at amet quod alias exercitationem qui repellendus. Eum dolorum sed iste nemo?
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem explicabo porro ea dolorem non architecto, omnis molestias
   officiis vel voluptates illum nobis. Unde odit vitae, neque saepe laboriosam similique! Maxime!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit praesentium rerum quis et vel ipsum error dicta numquam veritatis
  eos. Nobis aperiam quia cupiditate unde, dolor expedita ipsam voluptatum nulla?
  </p>

